body { overflow-x: hidden; }
body, button, dd, div, dl, dt, fieldset, figcaption, figure, form, 
h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}
button {
    appearance: none;
    background: none;
    border: 0;
    border-radius: 0;
    outline: none;
    padding: 0;
}
ul {
    list-style: none;
}

.header_top, .header_tab {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.header_top .top_inner {
    display: flex;
    height: 14px;
    padding: 8px 40px;
    box-sizing: border-box;
}
.header_top .top_list {
    align-items: center;
    color: #222c;
    display: flex;
    font-size: 12px;
    height: 14px;
    margin-left: auto;
}
.top_item+.top_item {
    margin-left: 24px;
}
.top_item, .top_item:visited {
    text-decoration: none;
    color: #222c;
}
.logout_button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
}
.logout_button:hover {
    text-decoration: underline;
}

.header_main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
}
.logo {
    display: flex;
    width: 170px;
}
.main_inner { 
    display: flex;
    align-items: center;
    height: 24px;
    padding: 25px 40px;
    min-width: 320px; 
}
.header_center {
    flex: 1;
    display: flex;
    margin: 0 50px;
}
.header_right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
    min-width: 120px;
}
#gnb_area, .gnb_list {
    display: flex;
    align-items: center;
}
.gnb_item {
    margin-right: 24px;
}
.gnb_item .gnb_link {
    display: flex;
    font-size: 20px;
    letter-spacing: -.3px;
    position: relative;
}
.gnb_link, .gnb_link:hover, .gnb_link:visited { 
    text-decoration: none;
    color: black;
}
.gnb_link.active {
    font-weight: 700;
}


.search_container {
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.search_container form {
    display: flex;
    align-items: center;
    border: 1px solid #bfbfbf;
    border-radius: 25px;
    overflow: hidden;
}
.search_container input[type="text"] {
    flex: 1;
    padding: 10px 15px;
    border: none;
    width: 300px;
    font-size: 12px;
    border-radius: 25px 0 0 25px;
    outline: none;
}
.search_container input[type="text"]:focus {
    background-color: #fdfdfd; 
}

.btn_search {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    width: 40px;
    justify-content: center;
}
.btn_cart {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    width: 40px;
}
.btn_category {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    position: relative;
    width: 40px;
}
.ul_tab {
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: nowrap;
    height: 45px;
}
.li_tab {
    display: inline-flex;
}
.tab {
    display: inline-flex;
    height: 100%;
    padding-bottom: 6px;
    padding-top: 15px;
}
.tab_name {
    font-size: 16px;
    line-height: 1.25;
}
.li_tab+.li_tab {
        margin-left: 24px;
    }